services:
  rabbitmq:
    image: rabbitmq:latest
    container_name: rabbitmq
    ports:
    - "5672:5672" 
    - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
  
  redis:
    image: redis:latest
    container_name: redis
    command: redis-server --save 60 1 --loglevel warning
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
  
  ticketmaster-celery:
    # build:
    #   context: .
    #   dockerfile: Dockerfile.worker
    image: ticketmaster-celery:latest
    container_name: ticketmaster-celery
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      localstack:
        condition: service_started
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_BACKEND_URL=${CELERY_BACKEND_URL}
      - AWS_ENDPOINT_URL=${AWS_ENDPOINT_URL}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION_NAME=${AWS_REGION_NAME}
      - AWS_BUCKET=${AWS_BUCKET}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_VECTOR_URL=${REDIS_VECTOR_URL}
      - SMTP_SERVER=${SMTP_SERVER}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - BACKEND_BASE_URL=${BACKEND_BASE_URL}
      - NOTIFICATION_EMAIL=${NOTIFICATION_EMAIL}

  ticketmaster-client:
    # build:
    #   context: .
    #   dockerfile: Dockerfile.client
    image: ticketmaster-client:latest
    container_name: ticketmaster-client
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      localstack:
        condition: service_started
    ports:
      - "8501:8501"
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_BACKEND_URL=${CELERY_BACKEND_URL}
      - AWS_ENDPOINT_URL=${AWS_ENDPOINT_URL}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION_NAME=${AWS_REGION_NAME}
      - AWS_BUCKET=${AWS_BUCKET}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_VECTOR_URL=${REDIS_VECTOR_URL}
      - SMTP_SERVER=${SMTP_SERVER}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - BACKEND_BASE_URL=${BACKEND_BASE_URL}
      - NOTIFICATION_EMAIL=${NOTIFICATION_EMAIL}      